.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.btn {
  color: $color1;
  background-color: $color3;
  border: none;
  height: 50px;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: bold;
  transition: $transition;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #fff;
    background-color: $color6;
    scale: 1.1;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  }

  &:active {
    background-color: $color4;
    scale: 1;
  }

  &--alt {
    color: #fff;
    background-color: transparent;

    &:hover,
    &:focus {
      color: $color6;
      background-color: transparent;
    }

    &:active {
      color: $color4;
    }
  }

  &--wire {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    width: 50px;
    padding: 0;

    &:hover,
    &:focus {
      color: $color6;
      background-color: transparent;
    }

    &:active {
      color: $color4;
    }
  }

  &--big {
    font-size: 1.5rem;
  }

  &--very-big {
    font-size: 3rem;
    width: auto;
    height: auto;
    padding: 2rem 3rem;
  }
}

.in-cart {
  position: relative;
  z-index: 5;

  &::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0;
    right: -10px;
    border-radius: 10px;
    background-color: crimson;
    z-index: 6;
  }
}
