.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.btn {
  color: $color1;
  background-color: $color3;
  border: none;
  height: 50px;
  min-width: 50px;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: bold;
  transition: $transition;
  cursor: pointer;

  i {
    font-size: 1.5rem;
  }

  &:hover,
  &:focus {
    color: #fff;
    background-color: $color6;
    scale: 1.1;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
  }

  &:active {
    background-color: $color4;
    scale: 1;
  }

  &--small {
    height: 40px;
    min-width: 40px;
    padding: 0 0.75rem;
    font-size: 0.75rem;

    i {
      font-size: 1rem;
    }
  }

  &--big {
    height: 60px;
    min-width: 60px;
    padding: 0 1.5rem;
    font-size: 1.5rem;

    i {
      font-size: 2rem;
    }
  }

  &--fixed {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 170px;

    i {
      margin-left: 0.5rem;
    }

    &-small {
      gap: 0.25rem;
      width: 120px;
    }

    &-big {
      gap: 0.75rem;
      width: 240px;
    }
  }

  &--alt {
    color: #fff;
    background-color: transparent;

    &:hover,
    &:focus {
      color: $color6;
      background-color: transparent;
    }

    &:active {
      color: $color4;
    }
  }

  &--wire {
    background-color: transparent;
    border: 2px solid;

    padding: 0;

    &:hover,
    &:focus {
      color: $color6;
    }

    &:active {
      color: $color4;
    }
  }
}

.in-cart {
  position: relative;
  z-index: 5;

  &::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: 0;
    right: -10px;
    border-radius: 10px;
    background-color: crimson;
    z-index: 6;
  }
}
