body {
  font-family: $font;
  color: $color1;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: auto;
}

a {
  width: 200px;
}

.hero {
  height: 500px;
  margin-bottom: 100px;
}

.banner {
  position: relative;

  img {
    height: 500px;
    object-fit: cover;
    object-position: top;
    opacity: 0.7;
  }

  section {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color2;
    width: 600px;
    max-height: 400px;
    margin: 50px 0 0 50px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    font-family: $font-alt;
    // border: 1px solid $color4;

    header {
      margin-bottom: 0.5rem;
      color: #fff;
      background-color: $color6;
      padding: 0.5rem 1rem;

      h1 {
        font-size: 2rem;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
      }
    }

    p {
      font-size: 1.5rem;
      padding: 0 1rem;
    }
  }
}

.technologies {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color2;
  padding: 2rem 0;
  margin-bottom: 100px;

  p {
    text-align: center;
    font-size: 1.25rem;
  }

  &__logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1000px;
    margin-top: 3rem;

    img {
      width: 96px;
      filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3));
      transition: all 0.3s ease-in-out;

      &:hover {
        scale: 1.1;
      }
    }
  }
}

.courses {
  &__header {
    margin-bottom: 2rem;
    padding: 0 2rem;
  }

  h2 {
    font-family: $font-alt;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1.25rem;
  }
}

.popular-courses {
  background-color: $color2;
  padding: 2rem;
  margin: 2rem;

  h3 {
    font-family: $font-alt;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

.active-courses {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}

.footer {
  margin-top: 100px;
  background-color: $color1;
  padding: 2rem;
  box-shadow: -3px 0px 15px rgba(0, 0, 0, 0.5);
}

.links {
  display: flex;
  gap: 2rem;

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 250px;

    li {
      list-style: none;

      a {
        color: #fff;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }
}

.copy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  margin-left: auto;

  p {
    color: #fff;
    text-align: end;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  padding: 1rem;
  border: 1px solid $color3;
  background-color: #fff;
  transition: all 0.3s ease-in-out;

  &__header {
    margin-top: 0.5rem;
  }

  a {
    width: 100%;
  }

  img {
    height: 200px;
    object-fit: cover;
    border: 0.25rem solid $color6;

    &:hover,
    &:focus {
      filter: brightness(80%);
    }
  }

  &:hover {
    scale: 1.1;
  }
}

.info {
  font-size: 0.9rem;

  > * {
    margin-top: 0.25rem;
  }
}

.status {
  margin: 0.5rem 0;
  font-weight: bold;
  color: $color5;
}

.tag {
  display: none;
  padding: 0.25rem 0.5rem;
  background-color: $color5;
  color: #fff;

  &.active {
    display: initial;
  }
}

.card-control {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: auto;
}

.price {
  font-size: 1.5rem;
  width: 120px;
  padding: 1rem 0;
}

.sale {
  position: relative;
  z-index: 10;

  &::before {
    content: 'Sale';
    position: absolute;
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75rem;
    color: #757575;
    color: #fff;
    background-color: crimson;
    padding: 0.2rem 1rem;
    z-index: 11;
  }
}

.discount {
  position: relative;
  z-index: 10;

  &::after {
    content: '$29.99';
    position: absolute;
    bottom: -0.8rem;
    right: 0;
    text-decoration: line-through;
    font-size: 0.75rem;
    color: #757575;
    z-index: 11;
  }
}

.browse {
  text-align: center;
}

.small-text {
  font-size: 0.75rem;
}

#footer {
  margin-top: auto;
}
