.search-bar {
  display: flex;
  align-items: center;
  background-color: $color2;
  position: relative;
  width: 500px;
  height: 50px;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  border: 1px solid $color4;
  box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.3);
  z-index: 1;

  .icon {
    font-size: 1.2rem;
    color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0.75rem;
    border-right: 1px solid #757575;
  }

  .search {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 0.75rem;
    outline: none;
  }
}
