.courses {
  margin-top: 100px;
  padding: 1rem;
}

.popular-courses {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color2;
  padding: 1rem;

  h3 {
    font-family: $font-alt;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

.card-holder {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  border: 1px solid $color3;
  background-color: #fff;
  transition: all 0.3s ease-in-out;

  * {
    margin-bottom: 0.25rem;
  }

  a {
    color: $color1;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  img {
    height: 200px;
    object-fit: cover;
    border: 0.25rem solid $color6;

    &:hover,
    &:focus {
      filter: brightness(80%);
    }
  }

  &:hover {
    scale: 1.1;
  }
}

.explore-link {
  margin-top: 1rem;

  a {
    display: block;
    text-decoration: none;
    color: $color1;
    background-color: $color3;
    border: none;
    min-height: 1rem;
    min-width: 5rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    transition: $transition-fast;
    cursor: pointer;

    &:hover,
    &:focus {
      color: $white;
      background-color: $color6;
      scale: 1.1;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    }

    &:active {
      background-color: $color4;
      scale: 1;
    }
  }
}

@media (min-width: 425px) {
  .card {
    max-width: 400px;
  }
}

@media (min-width: 768px) {
  .popular-courses {
    margin: 0 2rem;
    padding: 2rem;
  }

  .explore-link {
    margin-top: 2rem;
  }
}
