$white: #fff;
$black: #000;
$color1: #1f2232;
$color2: #f5fbef;
$color3: #92ad94;
$color4: #748b75;
$color5: #503d42;
$color6: #84c318;
$font: Roboto, sans-serif;
$font-alt: 'Roboto Mono', sans-serif;
$transition-fast: all 0.1s ease-in-out;
$transition-slow: all 0.3s ease-in-out;
