<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/styles/css/style.css"
    />
    <title>Card</title>
  </head>
  <body>
    <div
      class="card"
      id="course-id"
    >
      <a href="#">
        <img
          src="./assets/images/courses/florian-olivo-4hbJ-eymZ1o-unsplash_2400x1600.webp"
          alt=""
          width="2400"
          height="1600"
        />
      </a>
      <header>
        <h4>The Complete Full-Stack Web Developer Course</h4>
      </header>
      <div class="info">
        <div class="instructor">Mary Sue</div>
        <div class="status">
          <span class="tag active">Bestseller</span>
          <span>Starts February 1, 2024</span>
        </div>
        <div class="detail">50 hours &bull; Remote &bull; Bookable</div>
        <div class="rating">
          <i class="bi-star-fill"></i>
          <span>7.4 / 10</span>
          <span>(300,000)</span>
        </div>
      </div>
      <div class="card-control">
        <div class="price">
          <i class="bi-currency-dollar"></i>
          <span>29.99</span>
        </div>
        <div class="buttons">
          <button class="btn">Add to cart</button>
          <button class="btn">
            <i class="bi-heart-fill"></i>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
