<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/styles/css/style.css"
    />
    <title>Buttons</title>
  </head>
  <body style="background-color: #1f2232; padding-top: 100px">
    <div class="buttons">
      <button class="btn btn--small">Button 1</button>
      <button class="btn">Button 1</button>
      <button class="btn btn--big">Button 1</button>
    </div>
    <br />
    <div class="buttons">
      <button class="btn btn--alt btn--small">Button 2</button>
      <button class="btn btn--alt">Button 2</button>
      <button class="btn btn--alt btn--big">Button 2</button>
    </div>
    <br />
    <div class="buttons">
      <button class="btn btn--alt btn--alt-wire btn--small">
        <i class="bi-globe2"></i>
      </button>
      <button class="btn btn--alt btn--alt-wire">
        <i class="bi-globe2"></i>
      </button>
      <button class="btn btn--alt btn--alt-wire btn--big">
        <i class="bi-globe2"></i>
      </button>
    </div>
    <br />
    <div class="buttons">
      <button
        class="btn btn--alt btn--alt-wire btn--small btn--fixed btn--fixed-small"
      >
        <i class="bi-globe2"></i> <span>Svenska</span>
      </button>
      <button class="btn btn--alt btn--alt-wire btn--fixed">
        <i class="bi-globe2"></i> <span>English</span>
      </button>
      <button
        class="btn btn--alt btn--alt-wire btn--big btn--fixed btn--fixed-big"
      >
        <i class="bi-globe2"></i> <span>한국어</span>
      </button>
    </div>
  </body>
</html>
