<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/styles/css/style.css"
    />
    <title>Home</title>
  </head>

  <body>
    <header id="header"></header>
    <main id="main">
      <div class="technologies">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci eius
          error et.
        </p>
        <div class="technologies__logos">
          <img
            src="../../assets/images/tech/html5-logo.webp"
            alt=""
            width="512"
            height="512"
          />
          <img
            src="../../assets/images/tech/css-logo.webp"
            alt=""
            width="512"
            height="512"
          />
          <img
            src="../../assets/images/tech/javascript-logo.webp"
            alt=""
            width="512"
            height="512"
          />
          <img
            src="../../assets/images/tech/reactjs-logo.webp"
            alt=""
            width="512"
            height="512"
          />
          <img
            src="../../assets/images/tech/nodejs-logo.webp"
            alt=""
            width="512"
            height="512"
          />
        </div>
      </div>

      <section class="courses">
        <header class="courses__header">
          <h2>A broad selection of courses</h2>
          <p>
            Choose from over 100 classroom, remote and on-demand courses with
            new additions published every year
          </p>
        </header>
        <section class="popular-courses">
          <header><h3>Learners top choices</h3></header>
          <div class="active-courses"></div>
        </section>
        <div class="browse">
          <button class="btn btn--very-big">Explore more courses</button>
        </div>
      </section>
    </main>
    <footer id="footer"></footer>
  </body>
</html>
