<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="../../assets/styles/css/style.css"
    />
    <title>Navbar</title>
  </head>
  <body>
    <header class="navbar">
      <a
        href="#"
        class="logo"
      >
        <img
          src="../../assets/images/svg-edited.svg"
          alt=""
          class="westcoast-logo"
          width="600"
          height="400"
        />
      </a>

      <div class="search-bar">
        <label
          for="search"
          class="icon"
        >
          <i class="bi-search"></i>
        </label>
        <input
          type="search"
          class="search"
          name="search"
          id="search"
          placeholder="Search...
      "
        />
      </div>

      <ul class="menu">
        <li class="menu__item">
          <a
            href="#"
            class="menu__link"
            >Catalog</a
          >
        </li>
        <li class="menu__item">
          <a
            href="#"
            class="menu__link"
            >About</a
          >
        </li>
        <li class="menu__item">
          <a
            href="#"
            class="menu__link"
            >Contact</a
          >
        </li>
      </ul>

      <div class="buttons">
        <button class="btn btn--alt btn--big">
          <i class="bi-cart"></i>
        </button>

        <button class="btn btn--alt">Sign In</button>

        <button class="btn">Sign Up</button>

        <button class="btn btn--alt btn--alt-wire">
          <i class="bi-globe2"></i>
        </button>
      </div>
    </header>
  </body>
</html>
