.navbar {
  top: 0;
  background-color: $color1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
  box-shadow: 3px 0px 15px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.westcoast-logo {
  background-image: url(../../images/svg-edited2.svg);
  background-size: cover;
  width: 200px;
}

.menu {
  margin-right: auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  width: 300px;
  color: #fff;
  list-style: none;

  &__item {
    transition: $transition;

    &:hover,
    &:focus {
      scale: 1.1;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
    }

    &:active {
      scale: 1;
    }
  }

  &__link {
    color: $color2;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $color6;
    }

    &:active {
      color: $color4;
    }
  }
}
