<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="hero">
      <figure class="banner">
        <img
          src="./assets/images/hero/marvin-meyer-SYTO3xs06fU-unsplash_2400x1600.webp"
          alt=""
          width="2400"
          height="1600"
        />
        <section>
          <header><h1>WestCoast Education</h1></header>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus dignissimos ipsam tenetur non suscipit, totam nulla
            officiis nam.
          </p>
        </section>
      </figure>
    </div>
  </body>
</html>
